/* You can add global styles to this file, and also import other style files */
.container-fluid { min-height: 600px; }

.footer .container-fluid { min-height: 0px; margin-top: 0px; }

div.btn-string { margin-right: 10px; margin-bottom: 10px; }

